{% extends 'org_base.html' %}
{% block title %}机构课程{% endblock %}
{% block page_path %}机构课程{% endblock %}
{% block top %}
    <div class="middle companyheader">
        <div class="wp">
            <img class="fl" style="width: 112px;height: 103px" src="{{ MEDIA_URL }}{{ org.image }}"/>
            <div class="head fl">
                <h1>
                    {{ org.name }}
                    <img src="/static/images/authentication.png"/>
                    <img src="/static/images/gold.png"/>
                </h1>
                <p class="fl">
                    <span class="fl" style="margin-top:8px;color:#848484;">推荐指数： </span>
                    <span class="precision company-credit" data-star-scope="5.0"></span>
                    <span class="key">5.0</span>
                </p>
            </div>
            <div class="btn fr collectionbtn  notlogin
                 " data-favid="22" data-fav-type="1">
                收藏
            </div>

        </div>
    </div>
{% endblock %}

{% block right %}
    <div class="right companycenter layout">
        <div class="head">
            <h1>机构课程</h1>
        </div>
        <div class="brief group_list">
            {% for course in all_courses %}
                <div class="module1_5 box">
                    <a href="course-detail.html"><img width="214" src="{{ MEDIA_URL }}{{ course.image }}"/></a>
                    <div class="des">
                        <a href="course-detail.html"><h2>{{ course.name }}</h2></a>
                        <span class="fl">课时：<i class="key">{{ course.learn_time }}</i></span>
                        <span class="fr">参加人数：{{ course.student_nums }}</span>
                    </div>
                    <div class="bottom">
                        <span class="fl">{{ course.courseOrg }}</span>
                        <span class="star fr  notlogin
                            " data-favid="13" data-fav-type="4">
                            {{ course.favor_nums }}
                        </span>
                    </div>
                </div>
            {% endfor %}

        </div>
        <div class="pageturn">
            <ul class="pagelist">
                <li class="active"><a href="?page=1">1</a></li>
            </ul>
        </div>
    </div>
{% endblock %}





